h1{
    font: arial;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: black;
}
body{
        font: arial;
        font-size: 20px;
        color: whitesmoke;
        text-align: center;
        background-color: darkslategrey;
}
button{
    padding: 5px 12px;
    background-color: rgba(178, 0, 0, 0.9);
    font: arial;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 12px;
    transition-duration: 0.2s;
}
button:hover{
    background-color: rgba(47, 79, 79, 0);
    color: black;
}